name: entity_store_isar
description: "Isar database integration for EntityStore state management ecosystem"
version: 6.0.2
homepage: https://github.com/soraef/entity_store

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=1.17.0"

isar_version: &isar_version 3.2.0-dev.2 # define the version to be used

dependencies:
  flutter:
    sdk: flutter
  entity_store: ^6.0.0
  isar_community: ^3.2.0-dev.2
  isar_community_flutter_libs: ^3.2.0-dev.2
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  # isar_community_generator: 3.2.0-dev.2  # Commented out due to macros dependency issue
  # build_runner: any
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
# flutter:

# To add assets to your package, add an assets section, like this:
# assets:
#   - images/a_dot_burr.jpeg
#   - images/a_dot_ham.jpeg
#
# For details regarding assets in packages, see
# https://flutter.dev/to/asset-from-package
#
# An image asset can refer to one or more resolution-specific "variants", see
# https://flutter.dev/to/resolution-aware-images

# To add custom fonts to your package, add a fonts section here,
# in this "flutter" section. Each entry in this list should have a
# "family" key with the font family name, and a "fonts" key with a
# list giving the asset and other descriptors for the font. For
# example:
# fonts:
#   - family: Schyler
#     fonts:
#       - asset: fonts/Schyler-Regular.ttf
#       - asset: fonts/Schyler-Italic.ttf
#         style: italic
#   - family: Trajan Pro
#     fonts:
#       - asset: fonts/TrajanPro.ttf
#       - asset: fonts/TrajanPro_Bold.ttf
#         weight: 700
#
# For details regarding fonts in packages, see
# https://flutter.dev/to/font-from-package
